<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/jobs1.css' %}">
  </head>
  <body>
    <h1>Hyderabad jobs information</h1>
    {% if jobs_list %}
    <table border="3">
      <thead>
        <th>Date</th>
        <th>Company</th>
        <th>Title</th>
        <th>Eligibilty</th>
        <th>Address</th>
        <th>Email</th>
        <th>Phone Number</th>
      </thead>
      {% for job in jobs_list %}
      <tr>
        <td>{{job.date}}</td>
        <td>{{job.qcompany}}</td>
        <td>{{job.title}}</td>
        <td>{{job.eligibilty}}</td>
        <td>{{job.address}}</td>
        <td>{{job.email}}</td>
        <td>{{job.phonenumber}}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>No jobs in hyd</p>
    {% endif %}
  </body>
</html>
